<nav class="navbar dashboard">
    <a href="/{{domainName}}/#/recipes/page/1">Всички</a>
    <a href="/{{domainName}}/#/recipes/breakfast/page/1">Закускa</a>
    <a href="/{{domainName}}/#/recipes/main-dish/page/1">Основно</a>
    <a href="/{{domainName}}/#/recipes/salads/page/1">Салати</a>
    <a href="/{{domainName}}/#/recipes/sauces/page/1">Сосове</a>
    <a href="/{{domainName}}/#/recipes/starters/page/1">Предястие</a>
    <a href="/{{domainName}}/#/recipes/desserts/page/1">Десерт</a>
    <a href="/{{domainName}}/#/recipes/soups/page/1">Супи</a>
</nav>