{{> header}}
<div class="container add" data-id="{{id}}">
    <form action="{{domainName}}/#/edit" method="post">
        <fieldset>
            <p id="disclaimer">Полетата отбелязи с * са задължителни</p>
            <p class="field name">
                <input type="text" id="name" name="name" value="{{name}}">
                <label for="name">Име: *</label>
            </p>
            <p class="field tim e">
                <input type="number" id="time" name="time" value="{{time}}">
                <label for="time">Минути за приготвяне:</label>
            </p>
            <p class="field portions">
                <input type="number" id="portions" name="portions" value="{{portions}}">
                <label for="portions">Порции:</label>
            </p>
            <p class="for-label">
                <label for="products">Добави продукт: * (по един продукт на ред)</label>
            </p>
            <div class="row form-group">
                <input name="products" type="hidden" id="products">
                <div id="products-editor-container">
                    {{> products}}
                </div>
            </div>
            <p class="for-label">
                <label for="preparation">Начин на приготвяне*</label>
            </p>
            <div class="row form-group">
                <input name="preparation" type="hidden" id="preparation">
                <div id="editor-container">
                    {{> preparation}}
                </div>
            </div>
            <p class="field category">
                <select name="category" id="category">
                    <option selected hidden value="{{category}}">{{category}}</option>
                    <option value="Закускa">Закускa</option>
                    <option value="Основно">Основно</option>
                    <option value="Салати">Салати</option>
                    <option value="Сосове">Сосове</option>
                    <option value="Предястие">Предястие</option>
                    <option value="Десерт">Десерт</option>
                    <option value="Супи">Супи</option>
                </select>
                <label for="category">Категория: *</label>
            </p>
             <p class="field image">
                <label for="image">Нова снимка: (оставете празно ако искате да запазите старата)</label>
                <button id="btn-upload" type="button">
                    Прикачи снимка
                    <input type="file" id="image" name="image">
                </button>
            </p>
            <p class="field submit">
                <button class="btn submit" type="submit">Публикувай</button>
            </p>
        </fieldset>
    </form>
</div>
{{> footer}}